@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


*{
    cursor: url(https://img.icons8.com/material-outlined/24/182b3a/music--v1.png), auto;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*:active{
    cursor: url(https://img.icons8.com/material-outlined/24/FFFFFF/music--v1.png), auto;
}

.body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: linear-gradient(-45deg, #182b3a, #23a6d5, #734ae8, #89d4cf, #23d5ab);
    /* background: linear-gradient(-45deg, #182b3ab6, #23a5d5c1, #744ae8bd, #89d4cfbf, #23d5abd1); */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
    border: transparent dashed 1px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }
    
    100% {
        background-position: 0% 50%;
    }
}

.login {
    min-height: 100vh;
}

/** LOGO **/
.content {
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    font-family: "Poppins", sans-serif;
}

.content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.content h2:nth-child(2) {
    color: white;
    animation: animate 6s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.logo {
    margin-top: 60px;
    margin-left: 50vw;
}

/*** BUTTON **/
.btn {
    margin: 8px 0;
    width: 100%;
    background-color: #23a6d5;
    color: white;
    border: 0.1px solid rgba(255, 255, 255, 0.642);
}

.btn:hover {
    border: 0.1px solid rgba(255, 255, 255, 0.642);
    color: white;
    background: repeating-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 4s linear infinite;
    border: 1px solid white;
    cursor: url(https://img.icons8.com/material-outlined/24/FFFFFF/music--v1.png), auto;
}

.btn:active {
    cursor: url(https://img.icons8.com/material-outlined/24/182b3a/music--v1.png), auto;
}

/** DASHBOARD **/
.dashboard {
    display: flex;
}

.player {
    width: 50vw;
}

.muted{
    color: #ffffffa1;
}

/** REVIEW DASHBOARD **/
.reviewdashboard {
    width: 50vw;
    padding: 0px 40px;
    margin: 0 auto;
    display: inline-block;
    border-left: 0.1px dashed white;
}

.searchparameters{
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    gap: 30px;
    align-items: baseline;
    padding: 10px 10px 0 10px;
    /* background-color: rgba(255, 255, 255); */
    /* color: #253746; */
    /* position: sticky; */
    /* top: 0; */
    /* z-index: 1; */
}

.reviews{
    padding: 0px 20px;
}

.reviewsheader {
    text-align: center;
}

/** FORM **/
form{
    padding-top: 10px;
}

form h1 {
    text-align: center;
}

input[type=text],
input[type=date],
select,
input[type=number] {
    width: 100%;
    padding: 3px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #253746;
    font-size: larger;
    text-indent: 15px;
    color: #182b3a;
}

input::placeholder {
    font-weight: ligher;
    opacity: 0.2;
    color: #182b3a;
}

/** FLASH ERROR MESSAGE **/
.error {
    color: white;
    margin-bottom: 10px;
    animation: blinker 0.2s linear 5;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}